@import './src/styles/helpers';

$img-ratio: 9 / 16;
$title-offset: $gutter-half;

.product-tile {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  animation: append-animate $duration-2 linear;
}

.product-tile-inner {
  display: block;
  position: relative;
  padding-top: $img-ratio * 100%;
  overflow: hidden;
  background-color: $white-1;
}

.product-tile__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.product-tile__title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: $title-offset;
  max-width: calc(100% - #{$title-offset * 2});
  color: $white-1;
  text-shadow: $text-shadow-1;
  box-shadow: $box-shadow-2;
  transition: all 0.4s ease-in-out 0s;

  @extend %text-overflow;
  @extend %heading-1;

  .product-tile:hover & {
    box-shadow: $box-shadow-1;
  }
}


