%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%link-as-button {
  background: $grey-2;
  padding: $gutter;
  color: $white-1;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: $duration-1;

  &:hover {
    background: $grey-3;
  }
}

%button-as-link {
  background: none;
  border: none;
  color: $grey-2;
  line-height: 1;
  padding: 0;
  transition: $duration-1;

  &:hover {
    color: $grey-3;
  }
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
