@import './src/styles/helpers';

$logo-width: 60px;
$logo-height: $logo-width;

.header {
  display: flex;
}

.header__link {
  margin: 0 auto;
  padding-top: $gutter;

  @include desktop {
    padding-top: $gutter-tripled;
  }
}

.header__logo-img {
  width: $logo-width;
  height: $logo-height;
}
